h1 {
  font-family: 'Advent+Pro';
  text-align: left;
  font-size: 50px;
}

html {
  background-color: white;
}

body {
  text-align: left;
}

section {
  align-items: left;
  box-shadow: 0 4px 8px 0;
  background-color: darkgrey;
  width: 90%;
  padding: 1% 2%;
  margin: 0 1.5%;
}

}
#input-age-verification {
  font-family: 'Playfair+Display+SC';
  font-color: black;
}
#submit {
  border-style: hidden;
  background-color: silver;
}

#input-submit {
  font-family: 'Playfair+Display+SC';
  font-color: grey;
}
