h1 {
  font-family: 'Advent+Pro';
  text-align: left;
  font-size: 50px;
}

html {
  background-color: silver;
}

body {
  text-align: left;
}
section {
  margin: 20px auto;
  align-items: center;
  box-shadow: 0 4px 8px 0;
  background-color: darkgrey;
  width: 80%;
  padding: 1% 2%;
}
p {
  font-color: white;
  font-family: 'Patrick+Hand';
}
  
